@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,200italic,300,300italic,regular,italic,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic);
html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  font-family: "Poppins";
  line-height: 26px;
  color: #22343D;
}

.header {
  margin-top: 25px;
  margin-left: 146px;
}
.header__inner {
  max-width: 1110px;
  display: flex;
  align-items: center;
}
.header__inner-logo {
  width: 175px;
}
.header__inner-list {
  max-width: 616px;
  margin-left: 237px;
  display: inline-flex;
}
.header__inner-lists {
  display: inline-flex;
}
.header__inner-buttons {
  margin-left: 24px;
  height: 43px;
  width: 236px;
  display: inline-flex;
  justify-content: space-between;
}
.header__inner-img {
  margin-left: 24px;
}
.header__items {
  padding-top: 20px;
  display: none;
  position: absolute;
  left: 0;
  top: 10px;
}
.header__button-in {
  width: 102px;
  border: 1px solid #BCD0E5;
}
.header__button-in a {
  font-weight: 600;
  text-decoration: none;
  color: #22343D;
}
.header__button-up {
  width: 110px;
  background: #02897A;
}
.header__button-up a {
  font-weight: 600;
  color: #fff;
}
.header-list__item a {
  color: #22343D;
}

.header__button-in:hover {
  transition: all ease 0.5s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}

.header__button-up:hover {
  background: #02312c;
}

.header-list__item a:hover {
  font-weight: 600;
  transition: all 1s;
}

.header-list__item > a:hover + .header__items {
  display: block;
}

.header__inner-lists > li {
  margin: 0 27px 0 0;
}

.header__inner-list li {
  position: relative;
}

.btn__header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.header__items:hover {
  display: block;
}

.header__items-item {
  display: block;
}

.header__items-item a:hover {
  font-weight: 600;
}

/*---------------------*/
.title__container {
  max-width: 1091px;
  margin-left: 159px;
  margin-bottom: 114px;
  display: flex;
  justify-content: space-between;
}
.title__content-title {
  max-width: 400px;
  margin-top: 120px;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}
.title__content-text {
  max-width: 458px;
  font-size: 18px;
  line-height: 28px;
}
.title__content-btn {
  margin-top: 45px;
  width: 175px;
  height: 53px;
  background: #02897A;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title__content-btn a {
  color: #fff;
  font-weight: 700;
}

.title__content-btn:hover {
  background: #02312c;
  transition: all ease 0.5s;
}

/*--------------------*/
.product__container {
  max-width: 1400px;
  height: 543px;
  margin: 0 auto;
  margin-bottom: 150px;
  background-image: url(../img/Bg.svg);
  background-size: cover;
  background-position: center bottom;
}
.product__container-title {
  max-width: 530px;
  margin: 0 auto;
  margin-bottom: 66px;
  text-align: center;
}
.product__container-items {
  max-width: 1095px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 240px));
  gap: 45px;
}
.product__container-btn {
  width: 175px;
  height: 53px;
  margin: 34px auto;
  background: #02897A;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__container-btn a {
  font-weight: 700;
  color: #fff;
}
.product-item__img-one {
  background: #02897A;
}
.product-item__img-two {
  background: #4D8DFF;
}
.product-item__img-three {
  background: #740A76;
}
.product-item__img-four {
  background: #F03E3D;
}
.product-item__title {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.title__main {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.img-product {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product__container-btn:hover {
  background: #02312c;
  transition: all ease 0.5s;
}

/*------------------------*/
.manag__container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.manag__content {
  max-width: 486px;
  margin-top: 10px;
}
.manag__content-text {
  margin-top: 23px;
  margin-bottom: 5px;
}

.subtitle__main {
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 8px;
}

/*------------------------*/
.support__container {
  max-width: 1110px;
  margin: 150px auto;
  display: flex;
  justify-content: space-between;
}
.support__container-content {
  max-width: 486px;
  padding-top: 10px;
}
.support__content-text {
  margin-top: 23px;
  margin-bottom: 30px;
}
.support__content-items {
  display: grid;
  gap: 30px;
}
.support__item {
  height: 100%;
  display: flex;
  align-items: center;
}
.support__item-img-one {
  background-color: #FF9900;
}
.support__item-img-two {
  background: #F03E3D;
}
.support__item-img-three {
  background: #4D8DFF;
}
.support__item-text {
  max-width: 365px;
  margin-left: 30px;
}

.img-support {
  width: 35px;
  height: 35px;
  border-radius: 13.8542px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------------*/
.collab__container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.collab__content {
  max-width: 486px;
}
.collab__content-text {
  margin-top: 23px;
}

/*------------------------*/
.quick__container {
  margin-top: 150px;
  background-image: url(../img/Bg_bottom.svg);
  background-repeat: no-repeat;
}
.quick__inner {
  max-width: 965px;
  padding-top: 52px;
  margin: 0 auto;
}
.quick__inner-title {
  text-align: center;
}
.quick__inner-text {
  max-width: 542px;
  margin: 16px auto 0;
  font-weight: 500;
  text-align: center;
}
.quick__inner-content {
  max-width: 1110px;
  margin-top: 32px;
  display: grid;
  grid-template-columns: 388px 395px;
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 48px;
}
.quick__inner-btn {
  width: 216px;
  height: 53px;
  margin: 0 auto;
  background: #02897A;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quick__inner-btn a {
  font-weight: 700;
  color: #fff;
}
.quick__item {
  display: flex;
  align-items: center;
}
.quick__item-img {
  margin: 0 16px;
}
.quick__item-img img {
  width: 98px;
}
.quick__item-text {
  width: 274px;
  height: 59px;
  background: #fff;
  border-radius: 29px;
  box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.quick__item-reverse {
  display: flex;
  align-items: center;
}

.quick__item:hover {
  transform: scale(1.1);
  transition: all ease 0.5s;
}

.quick__item-reverse:hover {
  transform: scale(1.1);
  transition: all ease 0.5s;
}

.quick__inner-btn:hover {
  background: #02312c;
  transition: all ease 0.5s;
}

/*------------------------*/
.contents {
  margin-top: 150px;
  position: relative;
  margin-bottom: 150px;
}
.contents__inner {
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}
.contents__inner-text {
  margin-top: 8px;
  margin-bottom: 33px;
  font-weight: 500;
}
.contents__inner-items {
  max-width: 2248px;
  height: 359px;
  display: flex;
  gap: 32px;
  position: relative;
  left: 0;
  transition: all ease 0.7s;
}
.contents__item {
  max-width: 348px;
  float: left;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
}
.contents__item-date {
  margin: 24px 0 12px 24px;
}
.contents__item-date span {
  font-weight: 700;
}
.contents__item-title {
  margin-bottom: 40px;
  margin-left: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.slider-btn {
  width: 20px;
  height: 30px;
  background: rgba(181, 183, 184, 0.8);
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  bottom: 250px;
  right: 160px;
}

/*------------------------*/
.table__container {
  max-width: 1110px;
  height: inherit;
  margin: 0 auto;
}
.table__container-title {
  text-align: center;
  margin-bottom: 8px;
}
.table__container-text {
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}
.table__container-cards {
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
}
.table__card {
  width: 323px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding-bottom: 32px;
}
.table__card-title {
  padding-top: 24px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.table__card-subtitle {
  margin-bottom: 16px;
  line-height: 40px;
  text-align: center;
}
.table__card-price {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #AFAFAF;
  text-align: center;
}
.table__card-text {
  margin-top: 16px;
}
.table__card-text p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  text-align: center;
}
.table__card-btn {
  margin: 22px auto 0;
  width: 139px;
  height: 44px;
  background: #02897A;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table__card-btn a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.price-price {
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  letter-spacing: 0.2px;
  color: #02897A;
}

.table__card:hover {
  transition: all ease 0.4s;
  transform: scale(1.05);
  background: #02897A;
  color: #fff;
}

.table__card:hover .table__card-btn {
  background: #fff;
}

.table__card:hover .table__card-btn a {
  color: #02897A;
}

.table__card:hover .table__card-price .price-price {
  color: #fff;
}

/*------------------------*/
.review__container {
  max-width: 1110px;
  margin: 150px auto;
}
.review__container-title {
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: 0.2px;
}
.review__container-text {
  max-width: 537px;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.2px;
}
.review__container-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 329px));
  gap: 64px;
}
.review-card {
  padding: 28px 26px 24px 26px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
}
.review-card__text {
  width: 275px;
  margin: 16px 0;
  letter-spacing: 0.2px;
  color: #737373;
}
.review-card__autor {
  display: flex;
  gap: 14px;
}
.review__autor-name {
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #02897A;
}

.review-card:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

/*-----stars------*/
.review-card__stars {
  position: relative;
  font-size: 20px;
  display: inline-block;
}

.review-card__stars::before {
  content: "★★★★★";
  display: block;
  color: #f3b65b;
}

.stars-star {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.star__label {
  flex: 0 0 20%;
  cursor: pointer;
  height: 100%;
  color: rgb(247, 235, 235);
}

/*.star__label::before {
    content: '★';
    display: block;
    transition: color 0.3s ease 0s;
}
.star:checked,
.star:checked ~ .star__label {
    color: #e9c512;
}

.star__label:hover, 
.star__label:hover ~ .star__label,
.star__label:checked ~ .star__label:hover {
    color: #f1e18d;
}
*/
/*---------------*/
.green____container {
  max-width: 968px;
  margin: 0 auto;
  background: #02897A;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
}
.green____content {
  max-width: 510px;
  margin-left: 51px;
  margin-top: 49px;
}
.green____content-text {
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #fff;
}
.green____content-button {
  width: 150px;
  height: 50px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #02897A;
  cursor: pointer;
}

.green____content-button:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}

/*---------------*/
.footer__container {
  max-width: 1110px;
  margin: 150px auto 0;
}
.footer__container-content {
  display: grid;
  grid-template-columns: 242px 165px 132px auto;
  gap: 82px;
}
.footer__container-text {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 46px;
  font-size: 16px;
  line-height: 30px;
}
.footer__logo {
  width: 163px;
}
.footer__logo-network {
  width: 152px;
  display: flex;
  justify-content: space-between;
}
.footer__navtwo-item {
  line-height: 35px;
}
.footer__navtwo-item a {
  color: #22343D;
}
.footer__navone-item {
  line-height: 35px;
}
.footer__navone-item a {
  color: #22343D;
}
.footer__form {
  width: 325px;
}
.footer__form-title {
  width: 280px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.footer__navtwo-item:first-child {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.footer__navone-item:first-child {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.network-bg {
  width: 40px;
  height: 40px;
  background: #EDFFFC;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.form-input-email {
  width: 325px;
  height: 48px;
  margin-top: 34px;
  margin-bottom: 21px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  padding: 10px 0 10px 15px;
  font-family: "Poppins";
  color: rgb(90, 89, 89);
}

.form-input-button {
  width: 131px;
  height: 39px;
  background: #02897A;
  border-radius: 4px;
  border: 3px solid #02897A;
  color: #fff;
  font-family: "Poppins";
  font-weight: 700;
  cursor: pointer;
}

.form-input-button:hover {
  background: #02312c;
  border: 3px solid #02312c;
  transition: all ease 0.5s;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__dialog {
  max-width: 450px;
  margin: 40px auto;
}
.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  max-height: 80vh;
  overflow-y: auto;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal__title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Poppins";
}
.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 250px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: none;
  border-radius: 10px;
}
.modal .btn {
  max-width: 250px;
  height: 40px;
  display: block;
  width: 280px;
  margin: 0 auto;
  background: #02897A;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/*---------------*/
@media (max-width: 990px) {
  .wrapper {
    max-width: 990px;
  }
  .header {
    margin-left: 25px;
  }
  .header__inner {
    max-width: 990px;
  }
  .header__inner-list {
    margin-left: 100px;
  }
  .header__inner-img {
    display: none;
  }
  .title__container {
    max-width: 990px;
    /*margin-left: 60px;
    margin-bottom: 114px;*/
    margin: 0 20px 114px 60px;
  }
  .title__img img {
    width: 500px;
  }
  .product__container {
    max-width: 990px;
  }
  .product__container-items {
    max-width: 900px;
  }
  .manag__container {
    max-width: 930px;
  }
  .support__container {
    max-width: 930px;
  }
  .support__container-img img {
    width: 500px;
  }
  .collab__container {
    max-width: 930px;
  }
  .quick__container {
    max-width: 960px;
    margin: 100px auto 0;
    background-position: center top;
  }
  .contents {
    /*margin-top: 150px;
    position: relative;
    margin-bottom: 150px;*/
  }
  .contents__inner {
    max-width: 970px;
    margin: 0 auto;
    overflow: hidden;
  }
  .contents__inner-items {
    max-width: 1950px;
    gap: 30px;
    position: relative;
    left: 0;
  }
  .contents__item {
    max-width: 300px;
    float: left;
  }
  .contents__item-img img {
    width: 300px;
  }
  .slider-btn {
    right: 11px;
  }
  .table__container-cards {
    max-width: 950px;
    margin: 0 auto;
    gap: 20px;
  }
  .review__container-content {
    max-width: 970px;
    gap: 20px;
  }
  .review-card {
    width: 300px;
  }
  .footer__container {
    max-width: 950px;
  }
  .footer__container-content {
    gap: 30px;
  }
}/*# sourceMappingURL=style.css.map */